* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*  */

:root {
  --white: #ffffff;
  --black: #24303e;
  --black2: #24303e;
  --mb_nav_white: #fffcf8;
  --gray: #808397;
  --gray2: #5b636d;
  --gray3: #a7aaad;
  --yelow: #fbd600;
  --yelow2: #fad400;
  --red: #fe7766;
  --green: #24554a;
  --green_2: #3e7467;
  --green3: #90d4c6;
  --green4: #458d7e;
  --blue: #052c3b;
  --blue_2: #19536c;
}

/*  */
/* header start */

body {
  font-family: 'Barlow', sans-serif;
}

.main_page {
  max-width: 1440px;
  height: fit-content;
  margin: 0 auto;
  /*  */
  border: 2px solid black;
  /*  */
}

.header_background {
  max-width: 1440px;
  height: 800px;
  background-image: url(../img/background_header.png);
  background-position: center;
}

.header_background > header {
  max-width: 1352px;
  margin: 0 auto;
  padding-top: 34px;
  margin: 0px 48px;
}

header .header {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_background nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.header_background nav ul li {
  margin-left: 47px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.header_background nav ul a {
  text-decoration: none;
  color: var(--white);
}

nav ul button {
  width: 140px;
  height: 56px;
  border-radius: 28px;
  background-color: var(--white);
  border: none;
  font-family: 'Fraunces', serif;
}
.btn_a {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: var(--black) !important;
}

.burger_btn {
  display: none;
}

.header_background > h1 {
  width: 750px;
  height: 69px;
  margin: 0 auto;
  margin-top: 105px;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 56px;
  line-height: 69px;
  letter-spacing: 8.75px;
  text-align: center;
  color: var(--white);
}

/* header end */

/*  */

/* section 1 start */

.section_1 {
  max-width: 1440px;
  display: flex;
}

.textContant_box {
  width: 720px;
  height: 600px;
  display: flex;
  justify-content: end;
}

.textContant {
  width: 445px;
  height: 285px;
  margin: 158px 102px 0px 0px;
}

.textContant h1 {
  width: 445px;
  height: 98px;
  margin-bottom: 40px;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.29px;
  color: var(--black);
}

.textContant p {
  width: 445px;
  height: 90px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.13px;
  color: var(--gray);
}

.span_box {
  width: 137px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.textContant .span_box span {
  width: 120px;
  height: 25px;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  color: var(--black);
  text-align: center;
}

.span_box .underline {
  width: 137px;
  height: 10px;
  border-radius: 28px;
  opacity: 25%;
  position: relative;
  top: -10px;
  background-color: var(--yelow2);
}

.section_1_foto {
  max-width: 720px;
  height: 600px;
}

.section_1_foto img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  /* height: 600px; */
  background-position: center;
}

/*  section 1 end */

/*  */

/*  section 2 start */

.section_2 {
  max-width: 1440px;
  display: flex;
}

.section_2 .textContant_box {
  width: 720px;
  height: 600px;
  display: flex;
  justify-content: start;
}

.section_2 .textContant {
  width: 445px;
  height: 285px;
  margin: 158px 0px 0px 110px;
}

.section_2 .textContant h1 {
  width: 445px;
  height: 98px;
  margin-bottom: 40px;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.29px;
  color: var(--black);
}

.section_2 .textContant p {
  width: 445px;
  height: 90px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.13px;
  color: var(--gray);
}

.section_2 .span_box {
  width: 137px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section_2 .textContant .span_box span {
  width: 120px;
  height: 25px;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  color: var(--black);
  text-align: center;
}

.section_2 .span_box .underline {
  width: 137px;
  height: 10px;
  border-radius: 28px;
  opacity: 25%;
  position: relative;
  top: -10px;
  background-color: var(--red);
}

.section_2_foto {
  max-width: 720px;
  height: 600px;
}

.section_2_foto img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  /* height: 600px; */
  background-position: center;
}

/*  section 2 end */

/*  */

/*  section_3 strat */

.section_3 {
  max-width: 1440px;
  display: flex;
}

.section_3_foto {
  max-width: 720px;
  height: 600px;
}

.section_3_foto img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  /* height: 600px; */
  background-position: center;
}

.img_text_content_box {
  max-width: 720px;
  position: relative;
  top: -194px;
  display: flex;
  justify-content: center;
}

.h1_color {
  color: var(--blue) !important;
}

.p_color {
  color: var(--blue) !important;
}

.img_text_content {
  width: 329px;
  height: 143px;
}

.img_text_content h1 {
  margin-bottom: 27px;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.2px;
  text-align: center;
  color: var(--green);
}

.img_text_content p {
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.11px;
  text-align: center;
  color: var(--green_2);
}

/*  section_3 end */

/*  */

/*  section_4 start */

.section_4 {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_4_box {
  max-width: 1110px;
  min-height: 457px;
}

.flex_wrap_box {
  max-width: 1110px;
  display: flex;
}

.section_4 > h1 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 5px;
  text-align: center;
  color: var(--gray3);
}

.section_4_box .flex_box {
  max-width: 350px;
  margin-top: 81px;
  margin-right: 30px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex_box p {
  max-width: 350px;
  height: 96px;
  margin-top: 58px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.13px;
  text-align: center;
  color: var(--gray2);
}

.flex_box .span_box {
  word-break: 203px;
  height: 56px;
  margin-top: 69px;
}

.span_box :first-child {
  font-family: 'Fraunces', serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  letter-spacing: -0.13px;
  text-align: center;
  color: var(--black2);
}

.span_box :last-child {
  width: 203px;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: var(--gray3);
}

/*  section_4 end */

/*  */

/*  */

/*  footer start */

.footer_imgs {
  /*  */
  border: 2px solid violet;
  /*  */
  height: 447px;
  margin-top: 160px;
  display: flex;
}

.footer_imgs .foto {
  max-width: 360px;
  height: 447px;
}

.foto img {
  width: 100%;
  height: 447px;
  object-fit: cover;
  background-position: center;
}

.footer_box {
  max-width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--green3);
}

.footer_box .footer_nav {
  width: 300px;
  height: 350px;
  padding: 72px 0px 72px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_nav .nav_page ul {
  width: 300px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.footer_nav .nav_page ul li {
  list-style: none;
}
.footer_nav .nav_page ul li a {
  text-decoration: none;
  color: var(--green4);
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.13px;
}

.footer_nav .nav_social ul {
  width: 300px;
  margin-top: 88px;
  display: flex;
  justify-content: space-between;
}
.footer_nav .nav_social ul li {
  list-style: none;
}

/* footer end */

/*  */

/*  */

/* responsive start */

/* tablet responsive start */

@media screen and (max-width: 1114px) {
  /* section_1 start */

  .textContant_box {
    justify-content: center;
  }

  .textContant {
    width: 327px;
    height: 309px;
    margin: 158px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .textContant h1 {
    width: 327px;
    height: 78px;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.23px;
    text-align: center;
  }

  .textContant p {
    width: 327px;
    height: 150px;
    text-align: center;
  }

  /* section_1 end */

  /*  */

  /* section_2 start */

  .section_2 .textContant_box {
    justify-content: center;
  }

  .section_2 .textContant {
    width: 327px;
    height: 309px;
    margin: 158px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section_2 .textContant h1 {
    width: 327px;
    height: 78px;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.23px;
    text-align: center;
  }

  .section_2 .textContant p {
    width: 327px;
    height: 150px;
    text-align: center;
  }

  /* section_2 end */

  /*  */

  /* section_4 start */

  /* section_4 end */

  /*  */
}

/* tablet responsive end */

/*  */

/* mobile responsive start */

@media screen and (max-width: 755px) {
  /* main page start */

  .main_page {
    max-width: 375px;
    height: fit-content;
    margin: 0 auto;
    overflow: hidden;
    /*  */
    border: 2px solid black;
    /*  */
  }

  /* main page end */

  /*  */

  /* header respnsive start */

  .header_background > header {
    max-width: 375px;
    margin: 0 auto;
    padding-top: 34px;
    margin: 0px 24px;
  }

  .header_background {
    background-image: url(../img/background_header-mobile.png);
    height: 538px;
  }

  .logo {
    width: 123px;
    height: 24px;
  }

  .mobile_header {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
  }

  .mobile_header .burger_btn {
    border: none;
    background-color: transparent;
    display: block;
  }

  header .header {
    flex-direction: column;
  }

  .header_background nav ul {
    width: 329px;
    height: 305px;
    padding-top: 39px;
    margin-top: 56px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -500px;
    background-color: var(--mb_nav_white);
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    /* transform: translateY(-500px); */
  }

  /* header js class  start */

  .nav_bar_transform {
    transform: translateY(500px);
  }

  .btnopacity {
    opacity: 0.6;
  }

  /* header js class  end */

  .header_background nav ul li {
    margin-left: 0px;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 20px;
  }

  .header_background nav ul a {
    color: var(--gray);
  }

  nav ul button {
    width: 140px;
    height: 56px;
    border-radius: 28px;
    background-color: var(--yelow);
  }

  .header_background > h1 {
    width: 327px;
    height: 98px;
    margin-top: 88px;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 6.25px;
  }

  /* header respnsive end */

  /*  */

  /*  section1  strat*/

  .section_1 {
    max-width: 375px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .section_1_foto {
    max-width: 720px;
    height: 312px;
  }

  .section_1_foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
  }

  .textContant_box {
    max-width: 375px;
    height: 437px;
    justify-content: center;
  }

  .textContant {
    max-width: 327px;
    height: 309px;
    margin: 64px 0px 0px 0px;
  }

  /*  section1 end*/

  /*  */

  /*  section2 start */

  .section_2 {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section_2_foto {
    max-width: 720px;
    height: 312px;
    margin-top: 24px;
  }

  .section_2_foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
  }

  .section_2 .textContant_box {
    max-width: 375px;
    height: 437px;
    justify-content: center;
  }

  .section_2 .textContant {
    max-width: 327px;
    height: 309px;
    margin: 64px 0px 0px 0px;
  }

  /*  section2 start */

  /*  */

  /*  section3 start */

  .section_3 {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* section_4 start */

  .flex_wrap_box {
    justify-content: center;
    flex-wrap: wrap;
  }

  .section_4_box .flex_box {
    /* max-width: 350px;
    margin-top: 81px;
    margin-right: 30px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center; */
    margin-top: 64px;
    margin-right: 0px;
  }

  /* section_4 end */
}

/* mobile responsive end */

/* responsive end */
